* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner {
    display: block;
    width: 100%;
}

/* ----------------------------------------------- */

.top-infocard {
    text-align: center;
    padding: 80px 0;
}

.top-infocard-text {
    margin: 0 576px;
}

.top-infocard-subtitle {
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
}

.top-infocard-title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
}

.top-infocard-description {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
}

.top-infocard-image {
    margin-top: 65px;
}

/* ---------------------------------------------- */

.top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding: 106px 0 80px;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
    margin-bottom: 28px;
}

.top-card-description {
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

/* -------------------------------------------- */

.middle-banners {
    background: #E0E0E0;
    max-height: 442px;
}

.middle-banners-wrapper {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 32px;
    justify-content: center;
    position: relative;
    top: 62px;
}

/* ------------------------------------------- */

.bottom-cards {
    margin-top: 280px;
}

.bottom-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 20px;
    justify-content: center;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 32px 66px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.bottom-card-image {
    display: block;
    margin-bottom: 14px;
}

.bottom-card-description {
    max-width: 368px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

/* -------------------------------------------- */

.bottom-infocard {
    text-align: center;
    padding: 138px 0 104px;
}

.bottom-infocard-text {
   margin: 0 684px 32px;
}

.bottom-infocard-title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
}

.bottom-infocard-description {
    font-size: 16px;
    line-height: 24px;
}

/* ------------------------------------------ */

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
    background-color: #000000;
}

.footer-icons {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon {
    margin: 0 8px;
}

.footer-text {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
    color: #BDBDBD;
}


@media screen and (max-width: 414px) {

    .main-banner-desktop,
    .bottom-infocard-image-desktop {
        display: none;
    }

    .top-infocard {
        flex-direction: column;
        padding: 84px 26px 158px;
    }
    
    .top-infocard-text {
        margin: 0 0 68px;
    }
    
    .top-infocard-subtitle {
        font-size: 20px;
    }
    
    .top-infocard-title {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .top-infocard-description {
        text-align: center;
    }
    
    .top-infocard-image {
        max-width: 240px;
    }
    
    .top-cards {
        grid-template-columns: 1fr;
        padding: 36px 26px 80px;
    }
    
    .middle-banners-wrapper {
        grid-template-columns: 1fr;
        gap: 16px; 
    }
    
    .middle-banners {
       max-height: none;
    }
    
    .middle-banners-wrapper {
        grid-template-columns: repeat(2, max-content);
    }
    
    .middle-banner-image {
        max-width: 177px;
    }
    
    .middle-banner-big {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .middle-banner-image-big {
        max-width: 368px;
    }
    
    .bottom-cards {
        margin-top: 200px;
        padding: 0 26px;
    }
    
    .bottom-cards-wrapper {
        grid-template-columns: 1fr;
        gap: 16px;
    }
    
    .bottom-card-description {
        font-size: 14px;
    }
    
    .bottom-infocard {
        padding-top: 80px;
    }
    
    .bottom-infocard-image {
        padding-bottom: 50px;
    }
    
    .bottom-infocard-title{
        font-size: 24px;
        line-height: 20px;
    }
    
    .bottom-infocard-text {
        margin: 0 32px;
    }
    
    .page-footer {
        padding-bottom: 26px;
    }
    
    .footer-text {
        max-width: 280px;
        text-align: center;
    }
}

@media screen and (min-width: 415px) {
    .main-banner-mobile,
    .bottom-infocard-image-mobile {
        display: none;
    }
}